@model OHCModel.Model.VendorMasterModel
@*@if (Model != null)
    {*@
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Vendor</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Master</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Vendor </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Vendor</h4>
                    <p class="card-description">&nbsp;</p>
                    <form class="forms-sample"> 
                        <div class="row"> 
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.HiddenFor(m => m.VendorId)
                                    <label class="required" for="VendorName">Vendor Name</label>
                                    @Html.TextBoxFor(m => m.VendorName, new { @id = "VendorName", @Placeholder = "VendorName", @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.VendorName, "", new { @class = "m-form__help" })
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="required" for="Address">Address</label> 
                                    @Html.TextBoxFor(m => m.Address, new { @id = "Address", @Placeholder = "Address", @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "m-form__help" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="required" for="LicenseNo">License No.</label> @Html.TextBoxFor(m => m.LicenseNo, new { @id = "LicenseNo", @Placeholder = "LicenseNo", @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.LicenseNo, "", new { @class = "m-form__help" })
                                </div>
                            </div>
                             
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Status">Status</label>
                                    @Html.DropDownListFor(model => model.IsActive, new List<SelectListItem>
                              {
                                  new SelectListItem {Text = "Active", Value = "1", Selected = true },
                                  new SelectListItem {Text = "Inactive", Value = "2" }
                              }, new { @class = "form-control" })
                                     
                                </div>
                            </div> 
                        </div>
                            @if (Model.VendorId == 0)
                            {
                                <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary mr-2"> Update </button>
                            } 
                            <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("List", "VendorMaster")'">Cancel</button>
</form>
                </div>
            </div>
        </div>
    </div>
</div>
